* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

#container {
    width: 619px;
    background-color: #eee;
    margin: 12px auto 0;
    padding: 24px;
    border-radius: 12px;
    border: solid 1px #eee;
    box-shadow: 5px 8px 14px #ccc;
}

#thum_btn {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 12px 0 0;
}

#thum_btn a:hover {
    transition: 0.5s;
}

#thum_btn a:hover {
    opacity: 0.8;
}